APP_NAME="Tagore ERP"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://59.90.66.12
TIMEZONE=Asia/Kolkata
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=tagore_erp
DB_USERNAME=tagore
TAGORE_DB_PASSWORD=
TAGORE_DB_ROOT_PASSWORD=
DB_PASSWORD=
QUEUE_CONNECTION=database
CACHE_STORE=file
SESSION_DRIVER=file
SESSION_SECURE_COOKIE=true
LOG_CHANNEL=daily
FILESYSTEM_DISK=local
MAIL_MAILER=log
TAGORE_SMS_ENABLED=false
TAGORE_WHATSAPP_ENABLED=false
TAGORE_PAYMENT_GATEWAY=
SMS_STATUS=off
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
